<h1 class="margin-top-cabecalho">Lista de Despesas</h1>
<hr>

<div class="row mb-3">
    <div class="col-3">
        <input class="form-control" type="month" id="dataprocura">
    </div>
    <div class="col-7"></div>
    <div class="col-2 pull-right">
        <a class="btn btn-info" [routerLink]="['/controlecontas/cadastrar']"> Nova Compra </a>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Data Compra</th>
            <th>Loja</th>
            <th>Produto</th>
            <th>Parcela</th>
            <th>Valor</th>
            <th>Forma de Pagamento</th>
            <th>Data Pagamento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>